
body{
 height: 100%;
  background-color:  hsl(293, 28%, 12%);
  font-family: 'Raleway', sans-serif;
}

.row {
  margin-right: 0px !important;
}
*::selection{
  outline: none;
}

/*MENU*/
.nav{
  text-align: right;
  height: 70px;
  line-height: 70px;
  position: relative;
  z-index: 999;
}

.menu{
  margin: 0 30px 0 0;
}

.menu a{
  clear: right;
  text-decoration: none;
  color: #FEFFFF;
  margin: 0 10px;
  line-height: 70px;
  letter-spacing: .9px;
  text-transform: uppercase;
  transition: all 250ms ease;
}

@keyframes strike{
  0%   { width : 0; }
  100% { width: 100%; }
}

.strike {
  position: relative;
}

.strike:hover:after {
  content: ' ';
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #FEFFFF;
  animation-name: strike;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.menu h5{
  margin: 0 30px;
  text-transform: uppercase;
  float: left;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 2px;
  position: relative;
  z-index: 999;
  color: #FEFFFF;
}

label{
  margin: 0 20px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
  color: #354757;
}

#toggle{
  display: none;
}

.fixed{
  background-color: #FEFFFF;
}

.photo{
  width: 100%;
  height: 700px;
  position: relative;
  background: url('./images/laptop.jpg') center;
  background-size: cover;
  overflow: hidden;
}

.photo-text{
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 200vh;
  top: 0;
  left: 0;
  background: rgba(60, 63, 114, .6);
}

.photo h4{
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #FEFFFF;
  margin: 10px;
  cursor: pointer;
  position: relative;
  z-index: 998;
}

.photo p{
  width: 60%;
  text-align: center;
  letter-spacing: 1.5px;
  color: #D7DADE;
  position: relative;
  z-index: 998;
}

.content{
  width: 100%;
  min-height: 800px;
  position: relative;
  z-index: 1;
}

.content:before{
  content: '';
  width: 50%;
  height: 110px;
  position: absolute;
  top: -48px;
  left: 0;
  background-color: #F6FCFC;
  transform: skewY(5.5deg);/*8*/
}

.content:after{
  content: '';
  width: 50%;
  height: 110px;
  position: absolute;
  top: -48px;
  right: 0;
  background-color: #F6FCFC;
  transform: skewY(-5.5deg);/*8*/
}

.grand-title{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
  width: 60%;
  min-height: 100px;
  padding: 0;
  margin: 0 auto;
}

.grand-title h4{
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 1.2px;
  margin: 30px;
  color: hsl(293, 28%, 12%);;
}


.hr1{
content: '';
  display: block; 
  width: 100%;
  height: 3px;
  margin: 25px auto;
  border: 0;    
  background-image: -webkit-gradient(linear,left top,right top,from(transparent),color-stop(white),to(transparent));
    background-image: -o-linear-gradient(left,transparent,white,transparent);
    background-image: linear-gradient(to right,transparent,white,transparent);
}

.hr2{
content: '';
  display: block; 
  width: 100%;
  height: 3px;
  margin: 25px auto;
  border: 0;    
  background-image: -webkit-gradient(linear,left top,right top,from(transparent),color-stop(#24043a),to(transparent));
    background-image: -o-linear-gradient(left,transparent,#411c44,transparent);
    background-image: linear-gradient(to right,transparent,#271436,transparent);
}

.text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -10px;
  position: relative;
  z-index: 999;
}

.inner-text{
   display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 20px;
  width: 300px;
  margin: 10px 0 10px 0;
  transition: all 450ms ease;
}

.inner-text:hover{
  cursor: pointer;
  box-shadow: -1px 6.5px 15px rgba(208, 211, 214, 0.75);
}

.ic{
  font-size: 35px;
  color: #EBA675;
  transition: all 250ms ease;
}

.ic:hover{
 opacity: .7;
}

.inner-text h3{
  color: #299FFF;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.inner-text h5{
  color: #6D85A8;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.inner-text p{
  color: #6D85A8;
}

.inner-content{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 450px;
}

.boxy:nth-child(1){
  width: 50%;
  min-height: 600px;
  background: url('http://img.fenixzone.net/i/dxmDY9u.png') bottom no-repeat;
  background-size: cover;
  position: relative;
  z-index: 999;
}

.boxy:nth-child(2){
  width: 50%;
  min-height: 600px;
  display: flex;
  align-items: center;
}

#slider{
  overflow: hidden;
  margin-left: -20px;
}

#slider figure ul li{
  width: 20%;
  float: left;
  list-style: none;
  text-align: center;
}

ul li img{
  border-radius: 50%;
  padding: 10px;
}

ul li h4{
  color: #354757;
  font-weight: 300;
  font-size: 25px;
}

ul li p{
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  color: #6D85A8;
}

#slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  animation-name: slider;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-delay: -5s;
    animation-iteration-count: infinite;
   /*animation-direction: alternate;*/
}

/*Portafolio*/
.portafolio{
  width: 100%;
  padding: 1%;
  height: 100%;
  background-color:white;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: -35px;
}
S
.portafolio h4{
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  color: hsl(293, 28%, 12%);
  letter-spacing: 1.2px;
}



.portafolio-container{
  display: flex;
  justify-content: space-between;
}

.portafolio-item{
  margin-top: 1%;
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: .20em;
}

.portafolio-item img{
  width: 100%;
}

.portafolio-text{
  position: absolute;
  bottom: 0;
  width: 93% !important;
  background: rgba(254, 255, 255, .8);
  color: #FDFDFD;
  transform: translateY(100%);
  transition: all 450ms ease;
}

.portafolio-text h5{
  color: #299FFF;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin: 0;
}

.portafolio-text p{
  text-align: justify;
  color: #6D85A8;
}

.portafolio-item:hover .portafolio-text{
  transform: translateY(0);
}

.portafolio-img{
  transition: all 450ms ease;
}



/*FOOTER*/
.footer{
  
  width: 100%;
}

.footer h4{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #F6FCFC;
}



.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container *{
  box-sizing: border-box;
}

.flex-outer,
.flex-inner{
  list-style-type: none;
  padding: 0;
}

.flex-outer{
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner{
  padding: 0 8px;
  justify-content: space-between;  
}

.flex-outer > li:not(:last-child){
  margin-bottom: 20px;
}

.flex-outer li label{
  padding: 8px;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label{
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner{
  flex: 1 0 220px;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea{
  padding: 15px;
  resize: none;
}

.flex-outer li button{
  background: 0 0 #FEFFFF;
  border: 1px solid #6D85A8;
  border-radius: 3px;
  color: #6D85A8;
  font-size: 16px;
  line-height: inherit;
  margin: 30px 0;
  padding: 10px 50px;
  text-transform: uppercase;
  transition: all 0.25s ease 0s;
}

.flex-outer li button:hover,
.flex-outer li button:active,
.flex-outer li button:focus {
	border-color: #299FFF;
	color: #299FFF;
}

.flex-inner li{
  width: 100px;
}

.rect{
	border-color: #6D85A8;
  border-width: 0 0 1px 0;
  border-style: none none solid none;
  box-shadow: none;
}

.rect:focus{
	box-shadow: none;
	border-color: #60A9F1;
  outline: none;
}

.center{
  display: flex;
  justify-content: flex-end;
}

.flex-outer li ::placeholder{
  font-size: 12px;
  color: #6D85A8;
  text-transform: uppercase;
  font-weight: 400;
}

.flex-outer li ::-webkit-input-placeholder{
  font-size: 12px;
  color: #6D85A8;
  text-transform: uppercase;
  font-weight: 400;
}

.flex-outer li ::-moz-placeholder{
  font-size: 12px;
  color: #6D85A8;
  text-transform: uppercase;
  font-weight: 400;
}

.flex-outer li ::-ms-input-placeholder{
  font-size: 12px;
  color: #6D85A8;
  text-transform: uppercase;
  font-weight: 400;
}

.flex-outer li ::-moz-placeholder{
  font-size: 12px;
  color: #6D85A8;
  text-transform: uppercase;
  font-weight: 400;
}

input{
  font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 950px){
  .portafolio-container{
    flex-flow: column wrap;
    align-items: center;
  }
  
  .portafolio-item{width: 80%; margin-top: 10px;}
}

@media screen and (max-width: 950px){
  .photo p{width: 90%;}
  .grand-title{width: 90%;}
  .text{flex-direction: column;}
  .inner-content{flex-flow: column wrap;}
  .boxy:nth-child(1),.boxy:nth-child(2){width: 90%;}/*GENERA PROBLEMA*/
  .boxy:nth-child(1){padding: 10px;}
  #slider{margin-left: -55px;}
}

@media only screen and (max-width: 600px){
  label{
    display: block;
    cursor: pointer;
  }
  .menu{
    text-align: center;
    width: 100%;
    display: none;
  }
  .menu a{
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
    color: #6D85A8;
  }
  #toggle:checked + .menu{display: block; background-color: #FEFFFF;}
}

@media screen and (max-width: 500px){
  #slider{margin-left: -55px;}
  .photo-text h4{font-size: 45px;}
  .inner-text{width: 80%;}
  
}

@keyframes slider{
  0%{left: 0; opacity: 0;}
  20%{left: 0; opacity: 1;}
  25%{left: -100%; opacity: .8;}
  45%{left: -100%; opacity: .8;}
  50%{left: -200%; opacity: .7;}
  70%{left: -200%; opacity: .7;}
  75%{left: -300%; opacity: .6;}
  95%{left: -400%; opacity: .6;}
  100%{left: -400%; opacity: 1;}
}

.imgBackground {
     width: 100%;
     height: 100%;
     background-size: cover;
     position: absolute;
     top: 0;
     left: 0;
     border-radius: 15px;
 }

  .letra {
     color: black;
     text-align: unset;
 }
 

.imgP {
     max-width: 260px !important;
     height: 100px !important;
     border-radius: 30px;
     background: #251627;
     position: relative;
     transition: 0.4s ease-out;
}

  
 .imgP:hover {
     filter: opacity(.7);
     box-shadow: 5px 10px 8px #888888;
     /* border-style: groove; */
     box-sizing: border-box;
     /* transform: translateY(-20px); */
 }

 .imgE {
     max-width: 70% !important;
     border-radius: 15px;
     background: #bdd2dd;
     position: relative;
     transition: 0.4s ease-out;
}

  
 
.exp{
  border-radius: 15px;
}
 .exp:hover{
    filter: opacity(.7);
    box-shadow: 5px 10px 8px #888888;
    box-sizing: border-box;
 }

 /*Animacion image header*/
 .Rectangulos{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 95%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: hsl(300, 37%, 12%);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


/*TooTips*/
/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  font-weight: bold;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  
  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;
  
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: rgb(226, 231, 235);
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

/**/
.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}

.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: 255px !important;
  height: auto;
  margin: 10px 0;
  border-radius: 10%;
}

.hvrbox img {
  max-width: 100%;
}

.hvrbox_background {
  width: 400px;
  height: 250px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hvrbox .hvrbox-layer_bottom {
  display: block;
}

.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(164, 145, 181, 0.7);
  color: #4b4c4d;
  font-weight: bold;
  padding: 10px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}

.hvrbox .hvrbox-text {
  text-align: left;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 40%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text h3, h4, h5, h6 {
  color: white
}

.hvrbox .footer {
  text-align: center;
  position: fixed;
  bottom: 2rem;
  width: 100%;
}

.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179);
  /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}

.hvrbox.active .hvrbox-text_mobile {
  display: block;
}

.hvrbox .hvrbox-layer_image {
  padding: 0;
  background: none;
}

.hvrbox .hvrbox-layer_slideup {
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.hvrbox:hover .hvrbox-layer_slideup,
.hvrbox.active .hvrbox-layer_slideup {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}


.banner {
  padding: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.logo {
  width:  50px;
  height: 50px;
  object-fit: cover;
}


.logo-column {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.footerP {
  text-align: center;
  background: linear-gradient(#323333,#2a2b2b);
  padding: 1rem 0;
  color: #f5f9fa;
}


h4#headline{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 23;
}

p#info2{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14;

}

div#imagen:hover p#info2{
  margin-top: 70px;

}


div#info{
  position: absolute;
  overflow: hidden;
  width: 270px;
  height: 150px;
  background-color: rgba(164, 145, 181, 0.7); 
  -webkit-transition:  0.2s;
  opacity: 0;
}

h4#Efecto{
  display: inline-block;
  position: relative;
}

h4#Efecto::after, h4::before{
  content: '';
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: currentColor;
  top: 0.6em;
  transform: scale(0);
  transition: all 0.3s ease-in;
}
h4#Efecto:hover::before, h4#Efecto:hover::after{
transform: scale(1);

}
h4#Efecto::before{
  left: -140px;
}
h4#Efecto::after{
  right: -140px;
}